# all .log files
*.log

# ignore all .env files
*.env

# ignore node files
/node_modules
package-lock.json

# ignore dist folder
/dist

# ignore all database files
*.db
*.sqlite
*.sqlite3
*.sql

# ignore all shell/cmd/script files
*.sh
*.cmd
*.bat

